@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

html {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

form,
.form-title {
    background-color: #F8F8F8;
    border: 1px solid black;
}

form {
    position: relative;
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 14px 3px #878181;
}

.form-title {
    position: absolute;
    top: -20px;
    margin: 0;
    padding: 10px;
    min-width: 120px;
    left: -1px;
    border-radius: 4px;
}

form label {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

form label span {
    font-weight: bold;
}

.login-btn {
    background-color: #2D2D2D;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
    font-weight: bold;
    margin-top: 20px;
}

label input {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 6px 12px 6px 32px;
    width: 100%;
}

label i {
    position: relative;
    font-size: 0.73em;
    left: 23px;
}

@media all and (max-width: 600px) {
    form {
        max-width: 90%;
        margin: 80px 20px;
    }

    form label {
        flex-wrap: wrap;
        position: relative;
    }

    form span {
        flex-basis: 100%;
    }

    form label i {
        position: absolute;
        left: 10px;
        top: 28px;
    }
}