@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: #cccccc;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

header, main, aside, footer {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

header {
    height: 5vh;
}

div {
    display: flex;
    justify-content: space-between;
}

main {
    min-height: 300px;
    flex-basis: 70%;
}

aside {
    min-height: 300px;
    flex-basis: 25%;
}