html {
    font-size: 16px;
    line-height: 1.5em;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 50px auto;
    flex-wrap: wrap;
}

section > * {
    margin: 0 1em;
    flex-basis: 28%;
    box-sizing: border-box;
}