html {
    font-family: Helvetica, sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
}

header h1 {
    text-transform: uppercase;
}

header li, header h1, nav {
    display: inline-block;
}

header nav {
    margin-left: 50px;
}

header nav a {
    text-decoration: none;
    color: green;
    margin-right: 15px;
}

header:after {
    display: block;
    width: 100%;
    background-color: black;
    height: 2px;
    content: '';
}